<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles_popup.css">
    <link rel="stylesheet" href="/css/styles_userProfile_staff.css">
    <link rel="stylesheet" href="/css/loading_animations.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title><%= name %></title>
</head>

<body>
    <div class="navigation">
        <ul class="nav">
            <li class= "dropdown nav-tabs">
                <button class="navBtn">                         
                    <i class="material-icons">brightness_low</i>
                </button>
                <div class= "dropdown-content">
                    <a href="/EditProfile"> Edit profile</a>
                    <a href="/changePassword"> Change password</a>
                    <a href="/deleteAccount"> Delete account</a>
                </div>
            </li>
            <li class="logout-button">
                <button id="logout-popup" class="logout-popup" onclick="toggleLogout()">
                    <i class="material-icons log">power_settings_new</i>
                </button>
            </li>
        </ul>
    </div>

    <div class="container">

        <div class="column">
            <div class="profile-div">
                <div class="photo">
                    <img class="profile-pic" src="/getProfilePic"/>
                    <div class="editProfilePic" onclick="editProfilePic()">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                    <form class="form" action="/EditProfile" method="POST" autocomplete="off" enctype="multipart/form-data" id="EditProfileForm">
                        <!-- this is hidden by styles in popup.css -->
                        <input type="file" accept="image/*" name="uploadedFile" class="fileEditProfile" id="fileItem"/>
                    </form>
                </div>
                
                <div class="details">
                    <h4 class="name"><%= name %> </h4>
                    <p class="info"><%= index %> </p>
                    <p class="info"><%= phone %> </p>
                    <p class="info"><%= email %> </p>
                    <p class="info"><%= faculty %> </p>
                </div>
            </div>
        </div>

        <main class="main-body">

            <div class="threadViewContainer">
                <div class="threadView">
                    <div class="preview">
                        <h6>Staff</h6>
                        <h2>Thread View</h2>
                    </div>
                    <div class="info">
                        <h2>View your Threads</h2>
                        <h6>Click Continue to view the requests made by students</h6>
                        <a href="/threads">
                            <button class="open-button-threadView">
                                <span class="button_text">Continue</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </main>
    

    <%- include('./assets/partials/footer.ejs') %>
    </div>

    <script src="/javascript/popupForm.js"></script>
    <script src="javascript/formController.js"></script>
</body>
</html>