<html lang="en">

<%- include('./assets/partials/head.ejs') %>

<body>
    <div class="container">
        <header>
          <div class="home-icon">
            <!-- <a href="/home" title="switcher">
                <img src="#" alt="home-logo">
            </a> -->
          </div>
        </header>
        <main>
          <div class="row">
            <div class="profile-div">
                <div class="photo">
                    <img class="profile-pic" src="https://images.pexels.com/photos/1804796/pexels-photo-1804796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
                </div>
                <h4 class="name">THARUKA E A A</h4>
                <p class="info">STUDENT</p>
                <p class="info">190623V</p>
                <p class="info">akash.19@cse.mrt.ac.lk</p>
                <p class="info">071 569 4899</p>
            </div>
            <div class="navigation">
                <ul class="nav">
                    <li>Settings</li>
                    <li>Notifications</li>
                    <li>Log out</li>
                </ul>
                <div class="request-tiles">

                    <button class="button" onclick="openForm(0)">
                        <p class="button__text">Add/Drop Requests</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                    <button class="button" onclick="openForm(1)">
                        <p class="button__text">Submission Deadline</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                    <button class="button" onclick="openForm(2)">
                        <p class="button__text">Repeat Exams</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                </div>
            </div>
          </div>
          </main>
        </main>
    </div>

    <%- include('./assets/partials/footer.ejs') %>

    <script src="/javascript/popupForm.js"></script>
</body>
</html>