<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles_popup.css">
    <link rel="stylesheet" href="/css/styles_userProfile.css">
    <link rel="stylesheet" href="/css/loading_animations.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title><%= name %></title>
</head>

<body>
    <div class="navigation">
        <ul class="nav">
            <li class= "nav-tabs">
                <a href="/threads">
                    <button class="navBtn">
                        <i class="material-icons">forum</i>
                    </button>
                </a>
            </li>
            <li class= "nav-tabs">
                <button class="navBtn" onclick="dropNotifications()">
                    <i class="material-icons">notifications_none</i>
                </button>
                <div class="dropdown-notification">
                    <a href="#">Notification 1 2 3 4 5</a>
                    <a href="#">Notification 2 3 4 5 6 7</a>
                    <a href="#">Notification 3 4 5 6 7 8 9</a>
                    <a href="#">Notification 4 5 6 7 8 9 10</a>
                    <a href="#">Notification 5 6 7 8 9  10 11 12</a>
                </div>
            </li>
            <li class= "dropdown nav-tabs">
                <button class="navBtn" onclick="dropSettings()">                         
                    <i class="material-icons">brightness_low</i>
                </button>
                <div class= "dropdown-content">
                    <a href="/EditProfile"> Edit profile</a>
                    <a href="/changePassword"> Change password</a>
                    <a href="/deleteAccount"> Delete account</a>
                </div>
            </li>
            <li class="logout-button">
                <button id="logout-popup" class="logout-popup" onclick="toggleLogout()">
                    <i class="material-icons log">power_settings_new</i>
                </button>
            </li>
        </ul>
    </div>
    <div class="container">
        
        <!-- class="col" -->
        <div class="column">
            <div class="profile-div">
                <div class="photo">
                    <img class="profile-pic" src="/getProfilePic"/>
                    <h4 class="name"><%= name %> </h4>
                </div>
                
                <div class="details">
                    <p class="info"><%= index %> </p>
                    <p class="info"><%= phone %> </p>
                    <p class="info"><%= email %> </p>
                    <p class="info"><%= faculty %> </p>
                </div>
            </div>
        </div>

        <main class="main-body">
            
            <%- include('./assets/partials/popup_logout.ejs') %>
        
            <div class="request-tiles">

                <button class="open-button-request addDrop" id="0" onclick="toggleAddDrop()">
                    <h4 class="button__text">Add/Drop Requests</h4>
                </button>
                
                <%- include('./assets/partials/popup_addDrop.ejs') %>

                <button class="open-button-request submission" id="1" onclick="toggleSubmission()">
                    <h4 class="button__text">Submission Deadline</h4>
                </button>
                
                <%- include('./assets/partials/popup_submission.ejs') %>

                <button class="open-button-request repeat" id="2" onclick="toggleRepeat()">
                    <h4 class="button__text">Repeat Exams</h4>
                </button>
                
                <%- include('./assets/partials/popup_repeatExam.ejs') %>

            </div>
        </main>
    

    <%- include('./assets/partials/footer.ejs') %>
    </div>

    <script src="/javascript/popupForm.js"></script>
    <script src="javascript/formController.js"></script>
</body>
</html>