<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_popup.css">
    <link rel="stylesheet" href="/css/styles_userProfile.css">
    <link rel="stylesheet" href="/css/styles_logoutPopup.css">
    <title><%=name %></title>
</head>

<body>
    <div class="container">
        <header class="header-main">
          <div class="home-icon">
          </div>
        </header>
        <main>
          <div class="row">
            <div class="profile-div">
                <div class="photo">
                    <img class="profile-pic" src="https://avatarfiles.alphacoders.com/242/242300.jpg"/>
                </div>
                <h4 class="name"><%= name %> </h4>
                <p class="info"><%= index %> </p>
                <p class="info"><%= phone %> </p>
                <p class="info"><%= email %> </p>
                <p class="info"><%= faculty %> </p>
            </div>
            <div class="navigation">

                <ul class="nav">
                    <li><a href="/threads">Threads</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li class= "dropdown">
                        <button >Settings</button>
                        <div class= "dropdown-content">
                            <a href="#"> Edit profile</a>
                            <a href="/change_password"> Change password</a>
                            <a href="/delete_account"> Delete account</a>
                        </div>
                    </li>
                    <li id="logout-popup">Log out</li>
                </ul>
                
                <%- include('./assets/partials/popup_logout.ejs') %>

                <div class="request-tiles">

                    <button class="open-button-request">
                        <p class="button__text">Add/Drop Requests</p>
                    </button>
                    
                    <div class="popup-request-window" id="popup-request-window">
                        <form class="popup-form" action="/submitRequest" method="POST">
                            <header class="header-popup"><h2>title</h2></header>
                            <div class="content">
                                <div class="input-field">
                                    <!-- <input type="text" placeholder="name" class="input" id="name">
                                    <input type="text" placeholder="index" class="input" id="index"> -->
                                    <select name="lecture" id="lecture" class="input">
                                        <option id="lecture-name">Computer Architecture</option>
                                        <option id="lecture-name">Numberical Methods</option>
                                        <option id="lecture-name">Theory of Electricity</option>
                                        <option id="lecture-name">Principles of OOP</option>
                                    </select>
                                    <select name="lecturer" id="lecturer">
                                        <!-- add lecturers relevant to the lecture from js -->
                                    </select>
                                    <textarea name="description" rows="10" cols="20" placeholder="description" class="input" id="description"></textarea>
                                    <!-- append child to send evidence if the request type is submission deadline -->
                                    <button type="submit">submit</button>
                                    <button type="cancel" name="close-button-request">cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <button class="open-button-request">
                        <p class="button__text">Submission Deadline</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                    <button class="open-button-request">
                        <p class="button__text">Repeat Exams</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                </div>
            </div>
          </div>
          </main>
        </main>
    </div>

    <%- include('./assets/partials/footer.ejs') %>

    <script src="/javascript/popupForm.js"></script>
</body>
</html>