<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_popup.css">
    <link rel="stylesheet" href="/css/styles_userProfile.css">
    <link rel="stylesheet" href="/css/styles_logoutPopup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%=name %></title>
</head>

<body>
    <div class="container">
        <header class="header-main">
          <div class="home-icon">
          </div>
        </header>
        
            <div class="row">
            <div class="profile-div">
                <div class="photo">
                    <img class="profile-pic" src="https://avatarfiles.alphacoders.com/242/242300.jpg"/>   
                </div>
                
                <h4 class="name"><%= name %> </h4>
                <p class="info"><%= index %> </p>
                <p class="info"><%= phone %> </p>
                <p class="info"><%= email %> </p>
                <p class="info"><%= faculty %> </p>
            </div>
            <main>
            <div class="navigation">
                <ul class="nav">
                    <li><a href="/threads">Threads</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li class= "dropdown">
                        <button >Settings</button>
                        <div class= "dropdown-content">
                            <a href="#"> Edit profile</a>
                            <a href="/change_password"> Change password</a>
                            <a href="/delete_account"> Delete account</a>
                        </div>
                    </li>
                </ul>
                <button id="logout-popup"><i class="fa fa-sign-out"></i></button>    
                <%- include('./assets/partials/popup_logout.ejs') %>
            </div>
            
                <div class="request-tiles">

                    <button class="open-button-request" id="0">
                        <p class="button__text" id="0">Add/Drop Requests</p>
                    </button>
                    
                    <%- include('./assets/partials/popup_addDrop.ejs') %>

                    <button class="open-button-request" id="1">
                        <p class="button__text" id="1">Submission Deadline</p>
                    </button>
                    
                    <%- include('./assets/partials/popup_submission.ejs') %>

                    <button class="open-button-request" id="2">
                        <p class="button__text" id="2">Repeat Exams</p>
                    </button>
                    
                    <%- include('./assets/partials/popup_repeatExam.ejs') %>

                </div>
            </main>
    

    <%- include('./assets/partials/footer.ejs') %>
    </div>

    <script src="/javascript/popupForm.js"></script>
</body>
</html>