<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_popup.css">
    <link rel="stylesheet" href="/css/styles_normal.css">
    <title><%=name %></title>
</head>

<body>
    <div class="container">
        <header class="header-main">
          <div class="home-icon">
            <!-- <a href="/home" title="switcher">
                <img src="#" alt="home-logo">
            </a> -->
          </div>
        </header>
        <main>
          <div class="row">
            <div class="profile-div">
                <div class="photo">
                    <img class="profile-pic" src="https://avatarfiles.alphacoders.com/166/166959.jpg"/>
                </div>
                <h4 class="name"><%= name %> </h4>
                <p class="info"><%= index %> </p>
                <p class="info"><%= phone %> </p>
                <p class="info"><%= email %> </p>
                <p class="info"><%= faculty %> </p>
            </div>
            <div class="navigation">
                <ul class="nav">
                    <li><a href="#">Threads</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Settings</a></li>
                    <li id="logout-popup">Log out</li>
                </ul>
                <!-- popup logout window -->
                <div class="popup-window" id="popup-window">
                    <div class="header">
                        <h2>LOG OUT!</h2>
                    </div>
                    <div class="confirm-text">
                        <h3>Log out wennama oneda?</h3>
                    </div>
                    <div class="form-control">
                        <button type="submit" id="submit_logout">OW YAKO</button>
                        <button type="submit" id="cancel_logout">NA ITHIN</button>
                    </div>
                </div>

                <div class="request-tiles">

                    <button class="button" onclick="openForm(0)">
                        <p class="button__text">Add/Drop Requests</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                    <button class="button" onclick="openForm(1)">
                        <p class="button__text">Submission Deadline</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                    <button class="button" onclick="openForm(2)">
                        <p class="button__text">Repeat Exams</p>
                    </button>
                    
                    <%- include('./assets/partials/popupForm.ejs') %>

                </div>
            </div>
          </div>
          </main>
        </main>
    </div>

    <%- include('./assets/partials/footer.ejs') %>

    <script src="/javascript/popupForm.js"></script>
</body>
</html>